<div class="list">
<br>
<br>
<div class="title">
<h2>{{title}}:</h2>
</div>
<div class="body">
<ul>
    {{#each people as |person|}}
    <li{{action "showPerson" person}}>{{person}}</li>
    <br>
    {{/each}}
</ul>
</div>
</div>

{{yield}}