html, ul {
    text-align: center;
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.header {
    padding: 1em;
    border: 2px solid darkgrey;
    border-radius: 1em;
}

.title {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.body {
    font-family: fantasy;
    font-size: large;
}